In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import os

In [2]:
os.getcwd()

'/mnt/c/Users/User/Desktop/ADALAB/MODULO3'

In [3]:
os.chdir('/mnt/c/Users/User/Desktop/ADALAB/MODULO3/Adalab-project-da-promo-A-module-3-team-4')

In [4]:
df = pd.read_csv('datos/bikes.csv', index_col=0)

In [5]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801

- instant: record index
- dteday : date
- season : season (spring, summer, autumn, winter)
- yr : year (0: 2018, 1:2019)
- mnth : month ( 1 to 12)
- holiday : weather day is a holiday or not (extracted from http://dchr.dc.gov/page/holiday-schedule)
- weekday : day of the week
- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
+ weathersit : 
    - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
    - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
    - 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
    - 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- temp : temperature in Celsius
- atemp: feeling temperature in Celsius
- hum: humidity
- windspeed: wind speed
- casual: count of casual users
- registered: count of registered users
- cnt: count of total rental bikes including both casual and registered

In [6]:
df.shape

(730, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [9]:
df.duplicated().sum()

0

In [10]:
df_cat = df.select_dtypes(include='object')
df_cat.head()

       dteday  season
0  01-01-2018  spring
1  02-01-2018  spring
2  03-01-2018  spring
3  04-01-2018  spring
4  05-01-2018  spring

In [11]:
df_num = df.select_dtypes(include=np.number)
df_num.head()

,instant,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [12]:
# creamos un diccionario para renombrar las columnas

dicc_columnas = {'instant': 'indice',
'dteday' : 'fecha',
'season' : 'estacion',
'yr' : 'año',
'mnth' : 'mes',
'holiday' : 'festivo', 
'weekday' : 'dia_semana',
'workingday' : 'dia_laboral',
'weathersit' : 'tiempo',
'temp' : 'temperatura',
'atemp': 'sensacion_term',
'hum': 'humedad',
'windspeed': 'velocidad_viento',
'casual': 'cliente_casual',
'registered': 'cliente_registrado',
'cnt': 'total_clientes'}

In [13]:
# renombramos las columnas segun el diccionario 

df.rename(columns = dicc_columnas, inplace=True)

In [14]:
# ponemos la nueva columna 'index' como indice

df.set_index('indice', inplace=True)

In [15]:
df.head(2)

,fecha,estacion,año,mes,festivo,dia_semana,dia_laboral,tiempo,temperatura,sensacion_term,humedad,velocidad_viento,cliente_casual,cliente_registrado,total_clientes
indice,,,,,,,,,,,,,,,
1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801

In [16]:
# inspeccionamos los tipos de datos de las columnas
df.dtypes

fecha                  object
estacion               object
año                     int64
mes                     int64
festivo                 int64
dia_semana              int64
dia_laboral             int64
tiempo                  int64
temperatura           float64
sensacion_term        float64
humedad               float64
velocidad_viento      float64
cliente_casual          int64
cliente_registrado      int64
total_clientes          int64
dtype: object

In [17]:
# convertimos la columna fecha a tipo datetime

df['fecha'] = df['fecha'].apply(pd.to_datetime)

In [18]:
# funcion para sacar el año con un apply

def sacar_año(x):
    return x.strftime('%Y')

In [19]:
# funcion para sacar el mes con un apply

def sacar_mes(x):
    return x.strftime('%B')

In [20]:
# sobreescribimos la columna del año sacando el año directamente de la fecha

df['año'] = df['fecha'].apply(sacar_año)

In [21]:
# sobreescribimos la columna de meses sacando el mes directamente de la fecha

df['mes'] = df['fecha'].apply(sacar_mes)

In [22]:
def estacion(x):
    if x.strftime('%m-%d') <= '03-20':
        return 'invierno'
    elif x.strftime('%m-%d') <= '06-20':
        return 'primavera'
    elif x.strftime('%m-%d') <= '09-20' :
        return 'verano'
    elif x.strftime('%m-%d') <= '12-20':
        return 'otoño'

In [23]:
df['estacion'] = df['fecha'].apply(estacion)

In [24]:
df.dtypes

fecha                 datetime64[ns]
estacion                      object
año                           object
mes                           object
festivo                        int64
dia_semana                     int64
dia_laboral                    int64
tiempo                         int64
temperatura                  float64
sensacion_term               float64
humedad                      float64
velocidad_viento             float64
cliente_casual                 int64
cliente_registrado             int64
total_clientes                 int64
dtype: object

In [25]:
df.head()

,fecha,estacion,año,mes,festivo,dia_semana,dia_laboral,tiempo,temperatura,sensacion_term,humedad,velocidad_viento,cliente_casual,cliente_registrado,total_clientes
indice,,,,,,,,,,,,,,,
1,2018-01-01,invierno,2018,January,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,2018-02-01,invierno,2018,February,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,2018-03-01,invierno,2018,March,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,2018-04-01,primavera,2018,April,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,2018-05-01,primavera,2018,May,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [26]:
# cambiamos los numeros por días de la semana
def cambiar_dias_semana(x):
    if x == 0:
        return 'Lunes'
    elif x ==1:
        return 'Martes'
    elif x == 2:
        return 'Miercoles'
    elif x == 3:
        return 'Jueves'
    elif x == 4:
        return 'Viernes'
    elif x == 5:
        return 'Sabado'
    else:
        return 'Domingo'

In [27]:
df['dia_semana'] = df['dia_semana'].apply(cambiar_dias_semana)
df.head(2)

,fecha,estacion,año,mes,festivo,dia_semana,dia_laboral,tiempo,temperatura,sensacion_term,humedad,velocidad_viento,cliente_casual,cliente_registrado,total_clientes
indice,,,,,,,,,,,,,,,
1,2018-01-01,invierno,2018,January,0,Domingo,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,2018-02-01,invierno,2018,February,0,Lunes,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801

In [ ]:
df.drop('dias_semana2', axis=1, inplace=True)

In [36]:
# intentamos categorizar la columna día laboral (los 0 por no y los 1 por si)  y recodificar Sábado y Lunes
# def cambiar_ceros_unos(col):
    # if type(col) == int:
    #     if col == 0:
    #         return 'No'
    #     else:
    #         return 'Si'

In [38]:
# df['dia_laboral'] = df['dia_laboral'].apply(cambiar_ceros_unos)
# df.head(10)

,fecha,estacion,año,mes,festivo,dia_semana,dia_laboral,tiempo,temperatura,sensacion_term,humedad,velocidad_viento,cliente_casual,cliente_registrado,total_clientes
indice,,,,,,,,,,,,,,,
1,2018-01-01,invierno,2018,January,0,Domingo,None,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,2018-02-01,invierno,2018,February,0,Lunes,None,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,2018-03-01,invierno,2018,March,0,Martes,None,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,2018-04-01,primavera,2018,April,0,Miercoles,None,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,2018-05-01,primavera,2018,May,0,Jueves,None,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
6,2018-06-01,primavera,2018,June,0,Viernes,None,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
7,2018-07-01,verano,2018,July,0,Sabado,None,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
8,2018-08-01,verano,2018,August,0,Domingo,None,2,6.765000,8.11270,53.5833,17.875868,68,891,959
9,2018-09-01,verano,2018,September,0,Lunes,None,1,5.671653,5.80875,43.4167,24.250650,54,768,822
10,2018-10-01,otoño,2018,October,0,Martes,None,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

In [32]:
# def cambiar_lunes_sabado(x):
    
#     if x == 'Lunes':
#         return 1
#     elif x == 'Sabado':
#         return 0

In [33]:
#df['dia_laboral'] = df['dia_semana'].apply(cambiar_lunes_sabado)
df.head(2)

,fecha,estacion,año,mes,festivo,dia_semana,dia_laboral,tiempo,temperatura,sensacion_term,humedad,velocidad_viento,cliente_casual,cliente_registrado,total_clientes
indice,,,,,,,,,,,,,,,
1,2018-01-01,invierno,2018,January,0,Domingo,NaN,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,2018-02-01,invierno,2018,February,0,Lunes,1.0,2,14.902598,17.68695,69.6087,16.652113,131,670,801

In [35]:
# de repente nos están saliendo 521 nulos!!!!
df['dia_laboral'].isnull().sum()

521